.button {
  border-radius: 0.3rem;
  background-color: red;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  width: fit-content;

  &:hover {
    background-color: rgba(255, 17, 0, 0.91);
  }
}
