.button {
  border-radius: 0.3rem;
  background-color: red;
  height: 3vh;
  width: 18vw;
  color: white;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 17, 0, 0.91);
  }
}
