*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
@mixin flex($direction:row,$gap:0){
    display: flex;
    flex-direction: $direction;
    gap:$gap;
}
@import "button";
main{
    width: 100%;
    height: 100%;

    header{
        background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/cc73e7c7-7860-4ef4-8fc8-1baf24569d2f/web/IN-en-20260126-TRIFECTA-perspective_90d714e8-acc9-4253-ab46-ca6b349c1989_large.jpg);
        width: 100%;
        height: 50%;
        background-position: center;
        background-size: cover;


        nav{
            @include flex(row,0rem);
            justify-content: space-between;
            align-items: center;
           
            .logo{
             filter: brightness(0) saturate(100%) invert(18%) sepia(96%)
             saturate(6000%) hue-rotate(0deg);
             span{

                svg{
                    height: 4rem;
                    width: 4rem;
                }
             }
            }
            .select-language-and-btn{
                @include flex(row,1rem);
                justify-content: space-between;
                align-items: center;

                .svg-translator-icon{
                    border: 0.8px solid white;
                    color: white;
                    width: 1.5rem;
                    background-color: black;
                    svg{
                        margin:0.19rem;
                    }
                }

               
             
            }
        }
    }
}
