*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
}
@mixin flex($direction:row,$gap:0){
    display: flex;
    flex-direction: $direction;
    gap:$gap;
}
@import "button";
main{
    width: 100%;
    height: 100%;

    header{
        background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/cc73e7c7-7860-4ef4-8fc8-1baf24569d2f/web/IN-en-20260126-TRIFECTA-perspective_90d714e8-acc9-4253-ab46-ca6b349c1989_large.jpg);
        width: 100%;
        height: 50%;
        background-position: center;
        background-size: cover;
        


        nav{
            @include flex(row,0rem);
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            padding-bottom: 0;
             background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
            backdrop-filter: blur(10px);
             -webkit-backdrop-filter: blur(10px); /* Safari support */
             border-bottom: 1px solid rgba(255, 255, 255, 0.1);
           
            .logo{
             filter: brightness(0) saturate(100%) invert(18%) sepia(96%)
             saturate(6000%) hue-rotate(0deg);
             span{

                svg{
                    height: 4rem;
                    width: 5rem;
                }
             }
            }
            .select-language-and-btn{
                @include flex(row,1rem);
                justify-content: space-between;
                align-items: center;

                .svg-translator-icon{
                    border: 0.8px solid gray;
                    color: white;
                    width: 4rem;
                    background-color: #101010;
                    height: 2rem;
                    padding: 0.2rem;
                    @include flex(row,0.5rem);
                    padding: 0.3rem;
                    border-radius: 0.2rem;
                    
                   
                }

               
             
            }
        }
    }
}
