* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: black;
  color: white;
}

.button {
  border-radius: 0.3rem;
  background-color: red;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  width: fit-content;
}
.button:hover {
  background-color: rgba(255, 17, 0, 0.91);
}

main {
  width: 100%;
  height: 100%;
}
main header {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/cc73e7c7-7860-4ef4-8fc8-1baf24569d2f/web/IN-en-20260126-TRIFECTA-perspective_90d714e8-acc9-4253-ab46-ca6b349c1989_large.jpg);
  width: 100%;
  height: 70%;
  background-position: center;
  background-size: cover;
}
main header .box {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}
main header .box nav {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
main header .box nav .logo {
  filter: brightness(0) saturate(100%) invert(18%) sepia(96%) saturate(6000%) hue-rotate(0deg);
}
main header .box nav .logo span svg {
  height: 4rem;
  width: 5rem;
}
main header .box nav .select-language-and-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
main header .box nav .select-language-and-btn .svg-translator-icon {
  border: 0.8px solid gray;
  color: white;
  width: 4rem;
  background-color: #101010;
  height: 2rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
main header .box .text {
  color: white;
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
main header .box .text .button-input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main header .box .text .button-input input {
  background-color: #10100f;
  border: 2px solid #a09292;
  padding: 0.8rem;
  border-radius: 0.2rem;
  width: 20rem;
}
main header .box .text .button-input button {
  border: none;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 6rem;
}
main header .box .text .button-input button i {
  font-size: 1rem;
}
main section.part1 {
  width: 100%;
}
main section.part1 h4 {
  font-family: 700;
  margin-left: 1rem;
  margin-top: 1.5rem;
}
main section.part1 .slider {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 2rem;
}
main section.part1 .slider::-webkit-scrollbar {
  display: none;
}
main section.part1 .card {
  position: relative;
  flex: 0 0 auto;
  height: 10rem;
  width: 8rem;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow ease;
}
main section.part1 .card img {
  width: 100%;
  border-radius: 1rem;
}
main section.part1 .card span {
  position: absolute;
  left: -1rem;
  top: 4rem;
  font-size: 5rem;
  color: black;
  -webkit-text-stroke: 1px white;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
main section.part1 .card:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0px 10px 20px rgb(255, 255, 255);
}
main section.part2 {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}
main section.part2 .boxes {
  height: 100%;
  width: 100%;
}
main section.part2 .boxes .innerbox {
  background-color: #1B1E3C;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  height: 12rem;
}
main section.part2 .boxes .innerbox h3 {
  padding-bottom: 1rem;
}
main section.part2 .boxes .innerbox p {
  color: #ADABB2;
}
main section.part2 .boxes .innerbox svg {
  position: absolute;
  right: 0;
  top: 54%;
}
main section.part3 {
  padding: 1.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main section.part3 h3 {
  padding-bottom: 1rem;
}
main section.part3 .questions {
  background-color: #2D2D2D;
  height: 4rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  justify-content: space-between;
}
main section.part4 {
  padding: 1rem;
  padding-top: 6rem;
}
main section.part4 h3 {
  font-weight: 100;
  padding-bottom: 1rem;
}
main section.part4 button {
  background-color: red;
  border: none;
  padding: 0.8rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  margin-left: 0.1rem;
  margin-top: 1rem;
}
main section.part4 input {
  background-color: #10100f;
  border: 1px solid #a09292;
  padding: 0.8rem;
  border-radius: 0.3rem;
  width: 90%;
}
main section.part5 {
  padding: 1.6rem;
  color: gray;
}
main section.part5 a {
  color: gray;
}
main section.part5 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 0.9rem;
  padding-top: 2rem;
}
main section.part5 ul li a {
  color: rgb(133, 121, 121);
}
main footer {
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
main footer div {
  background-color: #0F0F0F;
  width: 9rem;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 0.3rem;
}
main footer div i {
  margin: 0 0.4rem;
}
main footer div span {
  font-size: 0.9rem;
}
main footer p {
  margin-top: 2.5rem;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
}
main footer button {
  width: 100%;
  height: 2.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 5rem;
  color: white;
  font-weight: 500;
  background-color: red;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
}

@media screen and (min-width: 900px) {
  main header .box nav {
    margin-left: 9rem;
    margin-right: 9rem;
  }
  main header .box nav .select-language-and-btn .svg-translator-icon {
    width: 9rem;
  }
  main header .box nav .select-language-and-btn .svg-translator-icon span {
    display: block;
  }
  main header .box nav .logo span svg {
    width: 10rem;
  }
  main header .box .text h1 {
    width: 28rem;
    font-weight: 900;
  }
  main header .box .text .button-input {
    flex-direction: row;
    gap: 0.6rem;
  }
  main header .box .text .button-input button {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */